/* Write your CSS here */

.app-container {
  min-height: 100vh;
  display: flex;
}
.events-container {
  background-color: #323f4b;
  width: 60%;
  display: flex;
  padding-left: 30px;
  flex-direction: column;
}

.events-heading {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto';
}

.event-list {
  display: flex;
  padding: 0px;
  flex-direction: row;
  flex-wrap: wrap;
}
